@model ForgingAhead.Models.Equipment

@section header {
  <meta name="description" content="List of all equipment in ForgingAhead">
}

<div class="col-md-5 bordered-div">
  <h4>@Model.Name</h4>
  <div class="pull-right">
    <a asp-action="Details" asp-controller="Equipment" asp-route-name="@Model.Name"><span class="glyphicon glyphicon-user"></span></a>
    <a asp-action="Update" asp-controller="Equipment" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-pencil"></span></a>
    <a asp-action="Delete" asp-controller="Equipment" asp-route-id="@Model.ID"><span class="glyphicon glyphicon-trash"></span></a>
  </div>

  <hr />
  <div class="col-md-6">
    <div class="form-group">
      <label asp-for="Preco" class="control-label col-md-8"></label>
      <div class="col-sm-3">
        <p class="form-control-static">@Model.Preco</p>
      </div>
      <label asp-for="Tipo" class="control-label col-md-8"></label>
      <div class="col-sm-3">
        <p class="form-control-static">@Model.Tipo</p>
      </div>
    </div>
  </div>
</div>